@font-face {
    font-family: dino-game;
    src: url(font/KirangHaerang-Regular.ttf);
}

body {
    background: white;    
}

.dino {
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 0;
    background-image: url(img/dino.png);

}

.cactus {
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 0;
    background-image: url(img/cactus.png);
   
}

.game-over {
    width: 500px;
    height: 400px;
    margin-top: 150px;
    margin-left: 500px;

    text-align: center;
    color: red;   
    font-family: dino-game;
    font-size: 80px;
    line-height: 110px;   

    background-color: rgb(22, 21, 21);
    border-radius: 5%;
    background-image: url(img/dinorun.gif);
    
}

.game-over img {
    width: 10px;
    height: 10px;

}

@keyframes slideright {
    from {
        background-position: 7000%;
    }
    to {
        background-position: 0;
    }
}

.background {
    position: absolute;
    bottom: 0;
    background-image: url(img/background.png);
    background-repeat: repeat-x;
    animation: slideright 600s infinite linear;
    width: 100%;
    height: 200px;
}

@media (max-width: 1024px){
    .game-over{
        margin-left: 250px;
    }
}
@media (max-width: 650px){

    .game-over {        
       
        margin-top: 200px;
        margin-left: 25px     
   
    }
    
}
